name: InSpec Check

on: [ workflow_dispatch, push, pull_request ]

jobs:
  container:
    runs-on: ubuntu-latest
    container: chef/chefworkstation
    env:
      CHEF_LICENSE: accept-silent
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Get InSpec Version
        run: inspec -v
      - name: Vendor the profile
        run: inspec vendor
      - name: Check the profile
        run: inspec check .
    
